#block-logo {
  line-height: 150px;
  #logo {
    a {
      text-decoration: none;
      &:visited {
        color: #ffffff;
      }
      &:above-level {
        color: #ffffff;
      }
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 700;
      color: #ffffff;
      #blue-letter {
        color: #4bcaff;
      }
    }
  }
}