.block-views-blockwho-is--block-1 {
  position: relative;
  &:after {
    position: absolute;
    content: '';
    display: block;
    background-color: rgba(94, 104, 112, 0.6);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
  padding: 80px 0 80px 0;
  .block-title {
    z-index: 10;
    position: relative;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Open Sans', 'sans-serif';
    text-transform: uppercase;
    color: #ffffff;
    &::after {
      position: absolute;
      bottom: -10px;
      content: '';
      display: block;
      background: #ffffff;
      height: 2px;
      width: 45px;
    }
  }
  .view-content {
    .views-row {
      .wrapper-content {
        margin-top: 50px;
        z-index: 10;
        padding: 0;
        .views-field-body {
          .field-content {
            z-index: 10;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            line-height: 25px;
            font-weight: 300;
            color: #ffffff;

            .first-block {
              margin-bottom: 30px;
            }
          }
        }
        .views-field-field-right-block-text {
          .field-content {
            z-index: 10;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #ffffff;
          }
        }
        .views-field-addtoany-share {
          margin-top: 36px;

          .field-content {
            .addtoany_list {
              a {
                margin-left: 20px;
                padding: 21px 18px;
                border: 2px solid #ffffff;
                &:hover{
                  border: 2px solid #4bcaff;
                  color: #4bcaff;
                }
              }
            }
          }
        }
      }
    }
  }
}